* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;

}


header {
  width: 100%;
  background-color: #ffffff;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inner_header {
  width: 90%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
.logo_area {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}


.menu{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.menu li{
  list-style: none;
  margin-right: 29px;
  color: #000000;  
}
.menu li:hover{
  cursor: pointer;
  color: #a10303;
}

.login_area{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login_button{
  padding: 5px 15px;
  background-color: #a10303;
  color: #fff;
  border: none;
}
.login_button:hover{
  cursor: pointer;
  background-color: #000000;
  color: #fff;
}


.body{
  width: 100%;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inner_body{
  width: 70%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.body_content{
  width: 45%;
  height: 80%;
  display: flex;
  align-items: self-start;
  justify-content: space-around;
  flex-direction: column;
}

.body_content h1{
  font-size: 90px;
  font-weight: 600;
  line-height: 100px;
}
.body_content p{
  font-size: 20px;
}
.buttons{
  width: 100%;    
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
} 
.buttons button{
  padding: 5px 15px;
  background-color: #a10303;
  color: #fff;
  border: none;
  margin-right: 50px;
}
  

.available{
  display: flex;
  align-items: self-start;
  flex-direction: column;
}
.available p{
  font-size: 20px;
}
.available_images{
  display: flex;
  align-items: self-start;
  justify-content: center;
  flex-direction: row;
}
.available_images img{
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.available_images img:hover{
  cursor: pointer;
}


.body_image{
  width: 55%;
  height: 75%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.body_image img{
  width: 100%;
  height: 100%;
}
.inner_body_image{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}


